<ion-view class="configurations" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Configurations</h1>
		<button class="button button-balanced icon ion-ios-list-outline" ng-click="popover.show($event)"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="configurations">
				<label class="item item-input item-select">
				    <div class="input-label">
				        Unit Type
				    </div>
				    <select ng-change="selectProjectType()" ng-model="project.type">
				        <option 
				            ng-repeat="type in propertyTypes" 
				            value="{{type}}">
				                {{type.name}}
				        </option>
				    </select>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label labels">Type (BHK)</span>
					<input type="number" placeholder="Type (BHK)" ng-model = "configurations.type">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label labels">Minimum Price</span>
					<input type="number" placeholder="Minimum Price" ng-model = "configurations.price.min">
				</label><label class="item item-input item-floating-label">
					<span class="input-label labels">Average Price</span>
					<input type="number" placeholder="Average Price" ng-model = "configurations.price.average">
				</label><label class="item item-input item-floating-label">
					<span class="input-label labels">Maximum Price</span>
					<input type="number" placeholder="Maximum Price" ng-model = "configurations.price.max">
				</label>
				<label class="item item-input item-floating-label" ng-repeat="config in configurations2">
					<span class="input-label labels">{{config.name}}</span>
					<input type="number" placeholder="{{config.name}}" ng-model = "configurations[config.id]">
				</label>
				<div class="item item-divider">
					Extras
				</div>
				<div class="row" ng-repeat = "config in configurations3" ng-click="selectConfig(config.id)">
					<div class="col col-90">
						<p>{{config.name}}</p>
					</div>
					<div class="col col-10">
						<i class="icon ion-checkmark-circled" ng-show="configurations.{{config.id}}"></i>
					</div>
				</div>
			</div>
			<!-- <div class="specifications">
				<div class="item heading">
					Specifications
				</div>
				<div class="row" ng-repeat = "specification in specifications1" ng-click="selectSpecification(specification.id)">
					<div class="col col-90">
						<p>{{specification.name}}</p>
					</div>
					<div class="col col-10">
						<i class="icon ion-checkmark-circled" ng-show="units.specifications.{{specification.id}}"></i>
					</div>
				</div>
				<div ng-repeat="specification in specifications2">
					<div class="spec2 row" ng-click="selectSpec(specification)" >
						<div class="col col-90">
							<p>{{specification.name}}</p>
						</div>
						<div class="col col-10">
							<i class="icon ion-checkmark-circled" ng-show="specification.selected"></i>
						</div>
					</div>
					<div class="row" id="chooseValue" ng-show="specification.selected">
						<div class="col" ng-click="chooseSpecValue(specification,'All Rooms')" ng-class="units.specifications[specification.id]=='All Rooms'? 'selected': 'notSelected'">All Rooms</div>
						<div class="col" ng-click="chooseSpecValue(specification,'Master Only')" ng-class="units.specifications[specification.id]=='Master Only'? 'selected': 'notSelected'">Master Only</div>
					</div>
				</div>
				<div class="item-divider">
					Flooring
				</div>
				<div class="flooring" ng-repeat="specification in specifications3">
					<div class="flooringName">
						{{specification.name}}
					</div>
					<label class="item item-input item-select">
					    <select ng-change="selectFlooring(specification)" ng-model="flooring[specification.id].type">
					        <option 
					            ng-repeat="type in flooringTypes" 
					            value="{{type}}">
					                {{type.name}}
					        </option>
					    </select>
					</label>
				</div>
			</div> -->
			<div class="addUnit">
				<button class="button button-block button-positive" ng-click="addThisUnit()">Add Unit</button>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="next()">
    	<h1 class="title">Next</h1>
    </ion-footer-bar>
</ion-view>