<ion-view class="connectivity-details" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Connectivity Details</h1>
		<button class="button button-balanced icon ion-ios-list-outline" ng-click="popover.show($event)"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="autoNcab">
				<ion-item ng-click="selectStand('autoStand')">
					<div class="row">
						<div class="col col-90">
							<div class="standName">Auto Stand</div>
						</div>
						<div class="col col-10">
							<i class="icon ion-checkmark-circled" ng-class="connectivity.autoStand.autoStand? 'greenTick': 'greyTick'"></i>
						</div>
					</div>
				</ion-item>
				<div class="row" ng-show="connectivity.autoStand.autoStand">
					<div class="col latNlng">
						<label class="item item-input item-floating-label">
					    	<span class="input-label labels">Lat</span>
					    	<input type="number" placeholder="Lat" ng-model = "connectivity.autoStand.lat">
						</label>
					</div>
					<div class="col latNlng">
						<label class="item item-input item-floating-label">
					    	<span class="input-label labels">Lng</span>
					    	<input type="number" placeholder="Lng" ng-model = "connectivity.autoStand.lng">
						</label>
					</div>
				</div>
				<ion-item ng-click="selectStand('cabStand')">
					<div class="row">
						<div class="col col-90">
							<div class="standName">Cab Stand</div>
						</div>
						<div class="col col-10">
							<i class="icon ion-checkmark-circled" ng-class="connectivity.cabStand.cabStand? 'greenTick': 'greyTick'"></i>
						</div>
					</div>
				</ion-item>
				<div class="row" ng-show="connectivity.cabStand.cabStand">
					<div class="col latNlng">
						<label class="item item-input item-floating-label">
					    	<span class="input-label labels">Lat</span>
					    	<input type="number" placeholder="Lat" ng-model = "connectivity.cabStand.lat">
						</label>
					</div>
					<div class="col latNlng">
						<label class="item item-input item-floating-label">
					    	<span class="input-label labels">Lng</span>
					    	<input type="number" placeholder="Lng" ng-model = "connectivity.cabStand.lng">
						</label>
					</div>
				</div>
			</div>
			<div class="police-stn">
				<div class="item item-divider">
				    Local Police Station
				</div>
				<label class="item item-input item-floating-label">
			    	<span class="input-label labels">Name</span>
			    	<input type="text" placeholder="Name" ng-model = "connectivity.policeStn.name">
				</label>
				<label class="item item-input item-floating-label">
			    	<span class="input-label labels">Lat</span>
			    	<input type="number" placeholder="Lat" ng-model = "connectivity.policeStn.lat">
				</label>
				<label class="item item-input item-floating-label">
			    	<span class="input-label labels">Lng</span>
			    	<input type="number" placeholder="Lng" ng-model = "connectivity.policeStn.lng">
				</label>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="save()">
    	<h1 class="title">Save</h1>
    </ion-footer-bar>
</ion-view>