<ion-view class="connectivity-details" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Connectivity Details</h1>
		<button class="button button-balanced icon ion-ios-list-outline" ng-click="popover.show($event)"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="{{mode.id}}" ng-repeat="mode in connectivity1">
				<div class="item item-divider">
					{{mode.name}}
				</div>
				<div class="all-fields" ng-repeat="param in params1">
					<label class="item item-input item-floating-label">
						<span class="input-label labels">{{param.name}}</span>
					   	<input type="number" placeholder="{{param.name}}" ng-model = "connectivity[mode.id][param.id]">
					</label>
				</div>
			</div>
			<div class="{{stand.id}}" ng-repeat="stand in connectivity2">
				<div class="item item-divider">
					{{stand.name}}
				</div>
				<div class="all-fields" ng-repeat="param in params2">
					<label class="item item-input item-floating-label">
						<span class="input-label labels">{{param.name}}</span>
					   	<input type="number" placeholder="{{param.name}}" ng-model = "connectivity[stand.id][param.id]">
					</label>
				</div>
			</div>
			<div class="road-n-expressway">
				<div class="item item-divider">
					Main Road And ExpressWay
				</div>
				<div class="otherModes" ng-repeat="item in otherMeans">
					<label class="item item-input item-floating-label">
						<span class="input-label labels">{{item.name1}}</span>
					   	<input type="text" placeholder="{{item.name1}}" ng-model = "connectivity[item.id1]">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label labels">{{item.name2}}</span>
					   	<input type="number" placeholder="{{item.name2}}" ng-model = "connectivity[item.id2]">
					</label>
				</div>
			</div>
			<div>
				<button class="button button-block button-dark" ng-click="save()">Save</button>
			</div>
		</div>
	</ion-content>
</ion-view>