<ion-view class="costing-details">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left"></button>
		<h1 class="title">Costing Details</h1>
		<button class="button button-balanced" ng-click="popover.show($event)">View Forms</button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
		  	<label class="item item-input item-floating-label" ng-repeat="item in parameters">
			    <span class="input-label labels">{{item.name}}</span>
			    <input type="number" placeholder="{{item.name}}" ng-model="costing[item.id]">
		  	</label>
		  	<div>
				<button class="button button-block button-dark" ng-click="save()">Save</button>
			</div>
		</div>
	</ion-content>
</ion-view>