<ion-view class="rwa-details" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Important Contacts</h1>
		<button class="button button-balanced icon ion-ios-list-outline" ng-click="popover.show($event)"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				RWA Details
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Contact Name</span>
				<input type="text" placeholder="Contact Name" ng-model="importantContacts.rwa.contactName">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Email Address</span>
				<input type="email" placeholder="Email Address" ng-model="importantContacts.rwa.emailAddress">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Contact Number</span>
				<input type="number" placeholder="Contact Number" ng-model="importantContacts.rwa.contactNumber">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Remarks</span>
				<textarea rows="4" cols="50"  placeholder="Remarks" ng-model="importantContacts.rwa.rules"></textarea>
			</label>
			<div class="item">
				<div class="col"><p>Can we hold marketing camp?</p></div>
			</div>
			<div class="row">
				<div class="col" style="text-align:center;border:1px solid #ccc;" ng-click="selectMarketingCamp(1)" ng-class="marketingTrue?'selected': 'notSelected'">
					YES
				</div>
				<div class="col" style="text-align:center;border:1px solid #ccc;" ng-click="selectMarketingCamp(2)" ng-class="marketingFalse?'selected': 'notSelected'">
					NO
				</div>
			</div>
			<label class="item item-input item-floating-label" ng-show="marketingTrue">
				<span class="input-label labels">Marketing Camp Charge for One Day(in Rs)</span>
				<input type="number" placeholder="Marketing Camp Charge for One Day(in Rs)" ng-model="importantContacts.rwa.campCharges"></input>
			</label>
			<div style="text-align:center;">
				<button class="button  button-block button-positive" ng-click="save('rwa')">Save</button>
			</div>
			<div class="item item-divider">
				Maintenance Office
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Contact Name</span>
				<input type="text" placeholder="Contact Name" ng-model="importantContacts.maintenanceOffice.contactName">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Email Address</span>
				<input type="email" placeholder="Email Address" ng-model="importantContacts.maintenanceOffice.emailAddress">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label labels">Contact Number</span>
				<input type="number" placeholder="Contact Number" ng-model="importantContacts.maintenanceOffice.contactNumber">
			</label>
			<div>
				<button class="button  button-block button-positive" ng-click="save('maintenanceOffice')">Save</button>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="next()">
    	<h1 class="title">Next</h1>
    </ion-footer-bar>
</ion-view>