<ion-popover-view>
  <ion-content>
    <div class="list" ng-click="closePopover()">
      <div class="item" ng-click="viewOtherForms('project-basic-details')">
        Project Details
      </div>
      <div class="item" ng-click="viewOtherForms('standout-features')">
        Standout Features
      </div>
      <div class="item" ng-click="viewOtherForms('important-contacts')">
        Important Contacts
      </div>
      <div class="item" ng-click="viewOtherForms('configurations')">
        Configurations
      </div>
      <div class="item" ng-click="viewOtherForms('specifications')">
        Specifications
      </div>
      <div class="item" ng-click="viewOtherForms('near-me')">
        Services within community
      </div>
      <div class="item" ng-click="viewOtherForms('sports-n-clubhouse')">
        Sports and Clubhouse
      </div>
      <div class="item" ng-click="viewOtherForms('other-details')">
        Other Details
      </div>
      <div class="item" ng-click="viewOtherForms('costing-details')">
        Costing Details
      </div>
       <div class="item" ng-click="viewOtherForms('security-details')">
        Security Details
      </div>
<!--       <div class="item" ng-click="viewOtherForms('society-shops')">
        Society Shops
      </div> -->
      
     
      <!-- <div class="item" ng-click="viewOtherForms('connectivity-details')">
        Connectivity Details
      </div> -->
      <!-- <div class="item" ng-click="viewOtherForms('ranking-rating')">
        Ranking Rating
      </div> -->
      <div class="item" ng-click="goBack()" style="background-color:#ccc;">
        Finish
      </div>
    </div>
  </ion-content>
</ion-popover-view>