<ion-view class="tags" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Tags</h1>
		<button class="button button-balanced icon ion-ios-list-outline" ng-click="popover.show($event)"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="existingTags" ng-repeat="tag in tags">
				<div class="oldTag row" ng-click="removeTag(tag)">
					<div class="col col-75"><p>{{tag.tagName}}</p></div>
					<div class="col col-25"><i class="icon ion-ios-close-empty"></i></div>
				</div>
			</div>
			<div class="newTag">
                <label class="item item-input item-label" id="tagLabel">
				    <span class="input-label"><b>Tags</b></span>
				    <input type="text" placeholder="Type here" ng-model="tag.query" ng-change="showTags()">
			  	</label>
			  	<ion-list ng-hide="hideTags">
					<ion-item ng-repeat="item in availableTags | filter:tag.query" ng-click="addTag(item)" class="tagList">
						<div class="row">
							<div class="col">
								<p>{{item.tagName}}</p>
							</div>
							<div class="col">
								<span class="addTagBtn">Add Tag</span>
							</div>
						</div>
					</ion-item>
				</ion-list>
		  	</div>
		</div>
	</ion-content>
</ion-view>