<ion-view view-title="Leave" >

    <div class="tabs-striped tabs-balanced ">
        <div class="tabs">
            <a href="#/leave-p/{{activityId}}" class="tab-item">Planned </a>
            <a href="#/leave/{{activityId}}" class="tab-item">Summary</a>
            <a href="#/leave-comments/{{activityId}}" class="tab-item">Comments</a>
        </div>
    </div>

    <ion-content >
        <div class="row">
            <ion-button class="button button-short col" style="background-color:#C0C0C0;" ng-click="startActivity(activity)">
            {{toggle}}
            </ion-button>
            <ion-button class="button col" style="background-color:#C0C0C0;" ng-click="cancel()">
            Cancel
            </ion-button>
        </div>


        <form name="myForm" novalidate>
            <div class="list card">
                <label class="item item-icon-left " >
                   <div  > Start Time</div>
                   </br>
                   <p>Start time: {{startTime}}</p>
                </label>         

                <label class="item item-input item-stacked-label">
                      <span class="input-label ion-android-chat"> Remarks</span>
                      <textarea rows="5" ng-change="change()" ng-model="activity.remark" ng-init="remark=null">
                      </textarea>
                </label>              

                 <label class="item item-icon-left ">
                       <div  > End Time</div>
                        </br>
                    
                        <p>End time: {{endTime}}</p>
                </label>

            </div>
            </br>
            </br>
        </form>
    </ion-content>
</ion-view>