<div layout="row" layout-align="center center">
    <div flex="33">
        <div>
            <div class="md-asvsd-tool">
                <h2>
               <span layout="row" layout-align="center">LOGIN</span>
            </h2>
            </div>
        </div>
        <div layout-padding>
            <form name="resetForm" novalidate>
                <h5>To Reset password enter your email address</h5>
                <div>
                    <input placeholder="Email Address" type="email" name="resetEmail" class="md-block" required>
                </div>
        </div>
        <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
            <button type="submit" class="md-raised md-primary">Send Link</button>
            <button md-no-ink ui-sref="login" class="md-raised">Cancel</button>
        </section>
        </form>
    </div>
</div>
</div>
<ion-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Roofpik Marketing</h1>
        <div class="buttons">
            <a class="button button-icon ion-log-in"></a>
        </div>
    </ion-header-bar>
    <ion-content id="loginform">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Reset Password</h2>
                <p>{{today}}</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="email.reset" name="userEmail" required placeholder="abc@roofpik.com">
                    </label>
                </div>
            </div>
            <div class="item">
                <button class="button button-block button-dark button-outline" ng-click="submitEmail(resetForm)">
                    Reset Password
                </button>
                <p ng-click="login()">Take me to login</p>
            </div>
        </div>
    </ion-content>
</ion-view>
