<div layout="row" layout-align="center center">
   <div flex="33">
      <div>
         <div class="md-asvsd-tool">
            <h2>
               <span layout="row" layout-align="center">LOGIN</span>
            </h2>
         </div>
      </div>
      <div layout-padding>
			<form name="resetForm" novalidate>
				<h5>To Reset password enter your email address</h5>
				<div>
					<input placeholder="Email Address" type="email" ng-model="email_reset" name="resetEmail" class="md-block" required>
					<div ng-messages="resetForm.resetEmail.$error" ng-show="resetForm.resetEmail.$touched || notouchreset">
						<div ng-message="required">This field is required</div>
						<div ng-message="email">Enter valid email</div>
					</div>
				</div>
				<section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
					<button type="submit" class="md-raised md-primary" ng-click="submitEmail(resetForm)">Send Link</button>
					<button md-no-ink ui-sref="login" class="md-raised" >Cancel</button>
				</section>
			</form>
		</div>
	</div>
</div>
