<ion-view>
	<ion-content id="full-content-slider" scroll="false">
		<ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <ion-content>
              <div class="box background-white">
                <img ng-src="img/intro-slider/final1.jpg" align="middle">                
              </div>
            </ion-content>
          </ion-slide>
          <ion-slide>
            <ion-content>
              <div class="box background-white">
                <img ng-src="img/intro-slider/final2.jpg" align="middle"> 
              </div>
            </ion-content>
          </ion-slide>
          <ion-slide>
            <ion-content>
              <div class="box background-white">
               <img ng-src="img/intro-slider/final3.jpg" align="middle"> 
              </div>
            </ion-content>
          </ion-slide>
          <ion-slide>
            <ion-content>
              <div class="box background-white">
               <img ng-src="img/intro-slider/final4.jpg" align="middle">               
              </div>
            </ion-content>
          </ion-slide>
          <ion-slide>
            <ion-content>
              <div class="box background-white">
               <img ng-src="img/intro-slider/final5.jpg" align="middle">               
              </div>
            </ion-content>
          </ion-slide>
          <ion-slide>
            <ion-content>
              <div class="box background-white">
               <img ng-src="img/intro-slider/final6.jpg" align="middle">               
              </div>
            </ion-content>
          </ion-slide>
        </ion-slide-box>
	</ion-content>
  <ion-footer-bar>
    <div class="bar bar-footer bar-assertive">
    <button ng-click="skipSlide()" class="button button-clear pull-left padding-right">Skip</button>
    <button ng-click="nextSlide($index)" class="button button-clear pull-right padding-right">Next</button>
  </div>
  </ion-footer-bar>
</ion-view>