<ion-view class="add-task" cache-view="false">
	<ion-header-bar class="bar-balanced" align-title="center">
		<button class="icon ion-chevron-left button button-balanced" ng-click="goBack()"></button>
		<h1 class="title">Add Task</h1>
	</ion-header-bar>
	<ion-content>
	<form name="myForm">
		<div class = "card">
			<div class="row">
				<div class="col" ng-click="selectProjectType('protectedResidential')">
					<i class="icon ion-checkmark-circled"
					ng-class="data.projectType == 'protectedResidential'? 'greenTick': 'greyTick'"></i>
					<span class="typeName">Residential</span>
				</div>
				<div class="col" ng-click="selectProjectType('pg')">
					<i class="icon ion-checkmark-circled"
					ng-class="data.projectType == 'pg'? 'greenTick': 'greyTick'"></i>
					<span class="typeName">PG</span>
				</div>
			</div>
			<label class="item item-input item-select">
				    <div class="input-label">
				        Select City
				    </div>
				    <select ng-change="selectCity(cityDetails)" ng-model="cityDetails">
				        <option 
				            ng-repeat="city in cities" 
				            value="{{city}}">
				                {{city.cityName}}
				        </option>
				    </select>
			</label>

			<label class="item item-input item-select" ng-show="citySelected">
			    <div class="input-label">
			        Select Project
			    </div>
			    <select ng-change="selectProject(projectDetails)" ng-model="projectDetails">
			        <option 
			            ng-repeat="project in projects" 
			            value="{{project}}">
			                {{project.projectName}}
			        </option>
			    </select>
			</label>
		  	<ionic-timepicker input-obj="timePickerObject">
		        <div class="row" id="startTime">
		        	<div class="col"><span class="input-label time">Start Time</span></div>
		        	<div class="col timeValue"><p>{{showTime}}</p></div>
		    	</div>
    		</ionic-timepicker>
		  	<ionic-timepicker input-obj="timePickerObject1">
		        <div class="row">
		        	<div class="col"><span class="input-label time">End Time</span></div>
		        	<div class="col timeValue"><p>{{showTime1}}</p></div>
		    	</div>
		    </ionic-timepicker>
		  	<label class="item item-input item-floating-label">
			    <span class="input-label labels">Purpose</span>
			    <input type="text" placeholder="Purpose" ng-model="data.purpose" >
		  	</label>
		</div>
		</form>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="addTask()">
    	<hw class="title">Add Data Entry Task</hw>
    </ion-footer-bar>
</ion-view>