<ion-view id="day-planner" cache-view="false">
    <ion-header-bar class="bar-balanced" align-title="center">
        <button class="icon ion-chevron-left button button-balanced" ng-click="myGoBack()"></button>
        <h1 class="title">Day Planner</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row full-row" ng-repeat="(key, task) in activities" ng-click="goToActivityDetails(task.type, task.id)">
            <div class="col col-25 checkbox-status">
                <i ng-show="task.checked" class="icon ion-ios-checkmark"></i>
                <i ng-show="!task.checked" class="icon ion-ios-circle-outline"></i>
            </div>
            <div class="col col-75 content-view">
                Activity Type : {{task.type}}</br>
                Start Time : {{task.planning.start.time | date:'HH:mm' }}</br>
                End Time : {{task.planning.end.time | date:'HH:mm' }}</br>
                Project Name: {{task.planning.projectName}}
            </div>
        </div>
    </ion-content>
</ion-view>