<ion-view id="welcome-screen">
     <div class="bar bar-header">
       <div class="h1 title">Header Buttons</div>
       <button class="button" ng-click="logout()">Logout</button>
     </div>
     <ion-content class="has-header">
          <div class="row">
               <div class="col logo"></div>
               <div class="col date">
                    <p >{{date| date:"mediumDate"}}</p>
               </div>
          </div>
          <br><br>
          <div class="col greetings">
               <h2>Hello {{name}}</h2>
               <p>HAVE A GREAT DAY</p>
          </div>
          <br><br>
          <div class="row">
               <div class="col task" ng-click="goToTasks()">
                    GO TO TASK
               </div>
               <div class="col task" ng-click="addProjects()">
                    ADD NEW PROJECT
               </div>
               <div class="col task" ng-click="addTask()">
                    ADD NEW ACTIVITY
               </div>
          </div>
     </ion-content>
</ion-view>