@import url("home/search.css");
@import url("home/sideMenu.css");
@import url("auth/login.css");
@import url("auth/signup.css");

@import url("home/new-slider.css");
@import url("home/home.css");

/*
**********************************************************
					TABLE OF CONTENTS
**********************************************************
1. Landing
2. Intro Slider
3. Home
4. Services List
*/

/********************************
	1. Landing
********************************/
#landing-view .scroll{
	width: 100%;
	height: 90%;
	position: absolute;
}
blockquote{
	text-align: center;
	border-color:#fff;
}
blockquote p {
  font-family: 'Alegreya', serif;
  font-size: 24px;
  color: #b4b4b4;
  font-weight: 400;
  line-height: 40px;
  font-style: italic;
  text-indent: 100px;
  position: relative;
  margin-top: 30%;
}

blockquote p:before{
  content: '\201C';
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 175px;
  top: 0px;
  left: -105px;
  color: rgba(188, 147, 200, 1);
  text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}
.loading-svg {
	width: 100%;
	height: auto;
	text-align: center;
	top: 10%;
	left: 0;
	position: relative;
}
#landing-view .spinner svg {
  width: 20% !important;
  height: 20% !important;
}

/*******************************
		2. Intro Slider
********************************/
#full-content-slider .slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
#full-content-slider .box, #full-content-slider .scroll{
  height: 100%;
  min-height: 100%;

}
#full-content-slider .active {
  background-color: transparent;
}

#full-content-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.description{
  color: gray;
  font-size:11px;
}
.ion-plus{
  float: right;
}
.button-positive{
  margin:auto;
  display: block;
}
.ion-person{
  float: right
}
.admintext{
  float: right;
}


/*Welcome screen*/

#welcome-screen .task {
  background-color: #494949;
  margin: 5px;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 5px;
}
#welcome-screen .logo {
  height:100px;
  background-image: url('../img/roofpik.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#welcome-screen .date {
  text-align: right;
  color: #1AB0D3;
}
#welcome-screen .greetings {
  padding: 10px;
}
#welcome-screen .greetings p {
  color: #1AB0D3;
}

/*Day Planner*/
#day-planner .checkbox-status {
  border-right: 1px solid red;
  border-color: rgba(255,0,0,0.2);
  text-align: center;
  padding-top: 25px;
  background-color: transparent;

}
#day-planner .content-view {
    margin-left: 1px;
  border-left: 1px solid red;
  border-color: rgba(255,0,0,0.2);
  padding: 10px;
}
#day-planner .full-row {
    border-bottom: 1px solid red;
    border-color: rgba(255,0,0,0.2);
    margin: 0px;
    padding: 0px;
}

#day-planner .checkbox-status i{
    font-size: 2em;
    color: #1AB0D3;
}

/*Anu's code*/
/* Empty. Add your own CSS if you like */

/*project-basic-details*/

.project-basic-details #map {
    width: 100%;
    height: 100%;
}

.project-basic-details .latlng {
  height:300px;
}
.project-basic-details .controls {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #CCC !important;
    background-color: #efe7e7;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    position: absolute;
    line-height: 19px;
    margin-top: 0px;
}

.project-basic-details #pac-input {
    background-color: #efe7e7;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 92%;
    margin-bottom: 0;
    line-height: 15px;
    font-weight: bold;
    margin-left: 10%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.project-basic-details .pac-container {
    font-family: Roboto;
}

.project-basic-details #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

.project-basic-details #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
.project-basic-details .ion-chevron-left {
  color:#fff;
}

.labels {
  color:#003300;
}

.project-basic-details .latlng .lat {
  width:49%;
  float:left;
  border-right:1px solid #999999;
}

.project-basic-details .latlng .lng {
  width:49%;
  float:right;
}

.project-basic-details .parking-vastu {
  border-top:1px solid #999999;
}

.project-basic-details .parking-vastu i{
  font-size:1.5em;
}

.project-basic-details .parking-vastu p{
  margin-top:5px;
  font-size:0.8em;
}

.project-basic-details .parking-vastu .col{ 
  padding-top: 15px;
    padding-bottom: 0px;
    border: 1px solid #ccc;
}

.project-basic-details .lifts .min, .floors .min {
  width:49%;
  float:left;
  border-right:1px solid #999999;
}

.project-basic-details .lifts .max, .floors .max {
  width:49%;
  float:right;
}

.project-basic-details .project-type{
  /*margin-bottom:-20px;*/
}

.project-basic-details .project-type i{
  font-size:1.5em;
}

.project-basic-details .project-type p{
  font-size:0.8em;
}

.project-basic-details .row2{
  margin:0px auto;
  width:67%;
}
.project-basic-details .row1 .col, .row2 .col, .parking-vastu .col, .bank-loans .col{
  text-align:center;
  color:#666666;
  border:1px solid #b3b3b3;
}

.project-basic-details .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.project-basic-details .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}

.project-basic-details .typeName {
    padding: 0 10px;
    line-height: 25px;
}

.selected {
  border:1px solid green !important;
  background-color:#e6ffe6;
}

.selected i{
  color:#000;
}

.selected p{
  color:#000;
}

.project-basic-details #locationSelect {
  height: 40px;
  min-height:40px;
}

.project-basic-details .location{
    border: 1px solid #a6a6a6;
    background-color: #ccc;
}

.project-basic-details .location p{
  font-size: 1.2em;
    line-height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 500;
}

.project-basic-details .location .ion-checkmark-circled{
  font-size:1.7em;
  color:#00b300;
}

.project-basic-details .completion-date option{
  font-size:0.8em;
}

.project-basic-details .completion-date .item-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 30px 0 0px;
    max-width: 72%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}

.project-basic-details .verified {
    border: 1px solid #ccc;
    margin: 1px 0px 1px 0;
    padding: 15px 10px 15px 15px;;
    font-size: 15px;
    color: #404040;
}

.project-basic-details #landmark div {
  display:inline-block;
}

.project-basic-details #landmark .landmark1 {
    height: 63px;
    padding-top: 2px;
    text-align:right;
}

.project-basic-details #landmarkInput {
  padding: 20px 0 0 0px;
}

.project-basic-details #landmark .landmark2 {
    text-align: left;
    height: 58px;
    padding: 0px;
    line-height: 75px;
    margin-top: 0px;
}

.project-basic-details .projectName {
  border-bottom: 1px solid #ccc;
}

.project-basic-details #buyRent {
  padding: 13px;
}


/*Create Project*/

div.radio-content {
  font-size:0.9em;
}

.addProjectButton{
  text-align:center;
}

.builder-name ion-list{
  border:1px solid #ccc;
}

.create-project .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.create-project .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}

.create-project .typeName {
    padding: 0 10px;
    line-height: 25px;
}

.create-project #createProjectType {
  margin-bottom:1px;
  border-bottom:1px solid #f2f2f2;
}

.create-project #createProjectType .col{
  text-align:center;
}

/*sports and clubhouse*/
.sportsNclub {
  text-align: center;
}
.sports .col, .clubhouse .col{
    color: #666666;
    border: 1px solid #b3b3b3;
    height: 50px;
    padding-top: 15px;
    font-size: 0.9em;
}

.clubTimings .col {
  background-color:#f2f2f2;
  border: 1px solid #808080;
}

.clubTimings .card .item.item-input input {
    font-size: 0.7em; 
}

.holiday {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
}
.holiday h5{
  color:#1a1a1a;
}

.holiday .col .item{
  font-size:1em;
}

/*Security*/
.main-gate .col, .tower .col {
  color: #666666;
    border: 1px solid #b3b3b3;
    height: 50px;
    padding-top: 5px;
    font-size: 0.9em;
    text-align:center;
}

.security-details .mainGateSecurityContact {
  border:1px solid #ccc;
  border-radius:5px;
  margin-bottom:10px;
}


.other-security .ion-checkmark-circled {
  font-size:1.7em;
  color:#00b300;
}

.other-security .row{
  border-top:1px solid #ccc;
  min-height:50px;
}

.other-security .col-10{
  padding-top:15px;
}

.other-security p{
  margin-top:10px;
}

.numOfEntryExit {
  border:1px solid #ccc;
  border-radius:5px;
  margin-bottom:10px;
}

/*Other Details*/
.other-details .ion-checkmark-circled {
  font-size:1.7em;
  color:#00b300;
}

.other-details .row{
  border-top:1px solid #ccc;
  min-height:50px;
}

.other-details .col-10{
  padding-top:15px;
}

.other-details p{
  margin-top:10px;
}

.other-details .park{
    border-top: 1px solid #ccc;
    min-height: 40px;
    padding-left:15px;
}
.other-details .size, .other-details .backupType{
  text-align:center;
  border:1px solid #ccc;
}


/*Connectivity*/

.connectivity-details .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.connectivity-details .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}

.connectivity-details .latNlng{
  border:1px solid #ccc;
  text-align:center;
}

/*Society shops*/

.shops {
  border:1px solid #ccc;
}

.addBtn {
  margin:10px;
  text-align:right;
}

#shopTypes {
  text-align:center;
  font-size:1em;
}

#shopTypes .col{
    border: 1px solid #b3b3b3;
    height: 50px;
    padding-top: 15px;
    font-size: 1em;
}

.display .row{
  text-align:center;
  font-size:1em;
}
.display .headings .col{
  background-color:#ccc;
}
.display .col{
  border:1px solid #999;
}

/*near-me*/
.near-me-options {
  border:1px solid #ccc;
}

.near-me .item-select select{
  max-width: 80%;
  /*position: absolute;*/
  top: 0;
  bottom: 0;

  /* right: 0; */
  border: none;
  background: #fff;
  color: #333;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  font-size: 1em;
  font-weight:500;
  cursor: pointer;
  direction: rtl;
  /*text-align:center;*/
}

.near-me .title{
  font-size: 1em !important;
}

.near-me  #vendorTypeSelect {
  padding-left:7px;
}

.near-me  #vendorTypeSelectLabel{
  height: 50px;
}

#nearMeTypes {
  text-align:center;
  font-size:1em;
}

#nearMeTypes .col{
    border: 1px solid #b3b3b3;
    height: 60px;
    padding-top: 15px;
    font-size: 0.9em;
}

.near-me #catName {
  border:1px solid #666;
  font-weight:500;
  background-color:#f2f2f2;
}

/*configurations*/
.configurations .ion-checkmark-circled {
  font-size:1.7em;
  color:#00b300;
}

.configurations .more{
  font-size:1.5em;
  color:#f2f2f2;
}

.configurations #config-footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}

.configurations .less{
  font-size:1.5em;
  color:#f2f2f2;
}

.configurations .row{
  border-top: 1px solid #ccc;
  min-height: 50px;
  padding: 2px;
}

.configurations .flooringName{
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
    background-color: #d9d9d9;
}

.configurations .col-10{
  padding-top:15px;
}

.configurations .flooring .item-select select{
  max-width: 80%;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  /* right: 0; */
  padding: 0 48px 0 16px;
  border: none;
  background: #fff;
  color: #333;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  direction: rtl;
  /*text-align:center;*/
}

.configurations #chooseValue{
  background-color:#f2f2f2;
  text-align:center;
  padding:0px;
}

.configurations #chooseValue .col{
  line-height: 36px;
  border:1px solid #ccc;
}

.configurations .flooring .item-divider {
  padding-left:7px;
}

.configurations .flooring label{
  height: 50px;
}

.configurations .flooring .input-label1{
  font-size:0.9em;
}

.configurations .spec2 {
  border-top:1px solid #ccc;
}
.configurations .specName{
  height:50px;
  padding-left: 10px;
}

.configurations .moreSelected{
  color:#00b300;
}

.configurations .lessSelected {
  color:red;
}

.configurations #specValue {
  text-align:center;
  border:1px solid #ccc;
}

.configurations p{
  margin-top:10px;
}

.configurations .heading{
  background-color:#ccc;
  text-align:center;
  font-size: 1.3em;
  font-weight:500;
}

/*Specifications*/
.specifications .ion-checkmark-circled {
  font-size:1.7em;
  color:#00b300;
}

.specifications .more{
  font-size:1.5em;
  color:#f2f2f2;
}

.specifications #existingAc {
  font-size:1.1em;
  color:#4d4d4d;
  font-weight:500;
  padding-right:30px;
  text-align:right;
}

.specifications .less{
  font-size:1.5em;
  color:#f2f2f2;
}

.specifications .row{
  border-top: 1px solid #ccc;
  min-height: 50px;
  padding: 2px;
}

.specifications .flooringName{
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
    background-color: #d9d9d9;
}

.specifications .col-10{
  padding-top:15px;
}

.specifications .flooring .item-select select{
  max-width: 80%;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  /* right: 0; */
  padding: 0 48px 0 16px;
  border: none;
  background: #fff;
  color: #333;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  direction: rtl;
  /*text-align:center;*/
}

.specifications #chooseValue{
  background-color:#f2f2f2;
  text-align:center;
  padding:0px;
}

.specifications #chooseValue .col{
  line-height: 36px;
  border:1px solid #ccc;
}

.specifications .flooring .item-divider {
  padding-left:7px;
}

.specifications .flooring label{
  height: 50px;
}

.specifications .flooring .input-label1{
  font-size:0.9em;
}

.specifications .spec2 {
  border-top:1px solid #ccc;
}
.specifications .specName{
  height:50px;
  padding-left: 10px;
}

.specifications .moreSelected{
  color:#00b300;
}

.specifications .lessSelected {
  color:red;
}

.specifications #specValue {
  text-align:center;
  border:1px solid #ccc;
}

.specifications p{
  margin-top:10px;
}

.specifications .heading{
  background-color:#ccc;
  text-align:center;
  font-size: 1.3em;
  font-weight:500;
}

.specifications .ac {
  line-height: 40px;
  margin-left: 8px;
}

.specifications #acType {
  padding:0px;
}

.specifications #acType .col{
  text-align:center;
  border:1px solid #ccc;
  line-height:40px;
}


/*Important Contacts*/

.important-contacts .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.important-contacts .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}

.important-contacts .redCross{
  color:red;
  font-size:1.5em;
}

.important-contacts .greyCross{
  color:#F8F8F8;
  font-size:1.5em;
}

/*all projects*/

.allProjects {
  padding:5px 10px;
  margin:10px;
}


/*ranking rating*/

.priceRangeHeading {
  text-align: center;
    background-color: #ccc;
    margin: 0px;
    height: 30px;
}

 .priceRangeHeading h5{
  line-height:30px;
 }

 .buy .priceRangeHeading h5{
  margin-top:0px;
 }


 /*All Projects*/

 .all-projects .selectThisCity{
    background-color:#bfbfbf;
 }

 .all-projects .details {
    float: right;
    font-size: 0.9em;
    background-color: #ccc;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 3px;
 }



 /*Data Entry Task view*/
 .data-entry .highlight {
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    margin: -10px 0;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #434343;
    color:#fff;
    line-height: 40px;
    text-align:center;
 }
 .data-entry .notHighlight {
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    line-height: 40px;
    margin: -10px 0;
    font-size: 1em;
    color:#fff;
    background-color: #666;
    text-align:center;
 }

 .data-entry .planned-details {
    min-height: 50px;
    line-height: 30px;
 }

 .data-entry .bar-footer {
  padding:0px;
 }

.data-entry .bar-footer .row{
  padding: 5px 0;
}

.data-entry .startBtn, .data-entry .endBtn{
  text-align:center;
  line-height: 50px;
  font-size: 1.4em;
  height:50px;
  color: #fff;
  font-weight: 500;
  background-color: #387ef5;
  border-radius: 5%;
}

.data-entry .cancelBtn {
  text-align:center;
  line-height: 50px;
  height:50px;
  font-size: 1.4em;
  color: #fff;
  font-weight: 500;
  background-color: #EF473A;
  border-radius: 5%;
}

.data-entry #startNcancel, .data-entry #endNcancel{
  margin-top:15%;
}

.data-entry .addBtn {
  text-align:right;
}

.data-entry .commentbox, .data-entry .remarkbox {
    margin: 5px;
}

.data-entry .getSumary{
  text-align:center;
}

.data-entry .activityCancelled, .data-entry .activityCompleted{
  padding:5px;
}

/*Add Task Css*/

.add-task .todayDate{
  text-align:center;
  background-color: #ccc;
  padding: 10px;

}
.add-task .input-label {
 width:100%;
}

.add-task .time{
  margin-left: 5px;
}

.add-task #startTime {
  border-bottom:1px solid #ccc;
}

.add-task .timeValue {
  text-align:right;
  margin-right: 20px;
}

.add-task .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.add-task .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}

.add-task .typeName {
    padding: 0 10px;
    line-height: 25px;
}

/*Tags*/
.standout-features .existingFeatures {
    display: inline-block;
    margin: 2px;
}

.standout-features #featureLabel {
  background-color: #f2f2f2;
  border:1px solid #ccc;
  margin-bottom: 0px;
}

.standout-features .oldFeature {
  background-color: #f26551;
  margin:3px 10px 3px 3px;
  border-radius: 10px;
  color:#fff;
}

.standout-features .oldFeature .icon {
  font-size:2em;
}

.standout-features .oldFeature span{
  line-height:10px;
  font-weight:500;
}

.standout-features .featureList{
  font-size: 1em;
  padding: 3px;
}

.standout-features .addFeatureBtn{
  background-color: #f26551;
  padding: 5px;
  border-radius: 5px;
  float: right;
  font-weight: 500;
  color: #fff;
  font-size:0.9em;
}



/*title font-size*/
.title {
  font-size:0.9em;
}

/*add Locations*/

.add-project-locations #locName {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2px;
}

.add-project-locations .greenTick{
  color:#33CD5F;
  font-size:1.5em;
}

.add-project-locations .greyTick{
  color:#F8F8F8;
  font-size:1.5em;
}